{% extends 'base.html' %}

{% block title %}Cadastro de Usuário{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="cadastro.css">
    <h1>Cadastro de Usuário</h1>
    <form method="POST">
        {{ form.csrf_token }}
        {{ form.username.label }} {{ form.username() }}
        {{ form.email.label }} {{ form.email() }}
        {{ form.password.label }} {{ form.password() }}
        {{ form.confirm_password.label }} {{ form.confirm_password() }}
        {{ form.submit() }}
    </form>
{% endblock %}

{% block styles %}
{% endblock %}
